@model IEnumerable<EsportMVC.Game>

@{
    ViewData["Title"] = "Ігри";
}

<h1>Ігри</h1>

<p>
    <a asp-action="Create">Додати гру</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="chart2"></div>
</div>


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Charts/JsonData1', function (jsonData1) {
                data = google.visualization.arrayToDataTable(jsonData1, false);
                var option = {
                    title: "Співвідношення кількості команд та ігор",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}
